/* GLOBAL CLASSES */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cursor {
  cursor: pointer;
}
.sidebar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 5px;
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gap30 {
  display: flex;
  gap: 30px;
  padding: 5px;
}
.fontweight {
  font-weight: bold;
}
.dFlex {
  display: flex;
}
.fontsize {
  font-size: 1.2rem;
}
.borderbottom {
  border-bottom: 2px solid gray;
}
.dficon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.margintop {
  margin-top: 50px;
}
.mainIcons {
  padding: 15px;
  margin-top: -80px;
  border-radius: 2px;
}
.textgrey {
  color: grey;
}

.margintop15 {
  margin-top: 15px;
}
.infoicon {
  display: flex;
  gap: 10px;
  margin-top: 7px;
}
.paddingbottom {
  padding-bottom: 7px;
}
.justifyC {
  display: flex;
  justify-content: center;
}
.gap10 {
  display: flex;
  gap: 10px;
}
.textalign {
  text-align: center;
}
.padding {
  padding: 7px 0px 45px 0px;
}

/* Body CSS*/
body {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  background-color: lightgrey;
  overflow: hidden;
}
/* Aside CSS */
aside {
  background-image: url(Assets/images/sidebar-1.jpg);
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.697);
  color: white;
  overflow-y: scroll;
}

.sidebar1 {
  margin: 20px;
}

.cp1 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 10px;
  margin: 5px;
}

.avatar {
  border-radius: 50px;
}
.dashbord {
  background-color: red;
  border-radius: 5px;
}
.sidebar:hover:not(.dashbord) {
  background-color: rgba(211, 211, 211, 0.274);
  border-radius: 5px;
}
/* Header CSS*/
.container {
  padding: 25px;
  overflow-y: scroll;
}

.header2 {
  margin-bottom: 25px;
  display: none;
}
.marginbottom {
  margin-bottom: 20px;
}
.round {
  border-radius: 50px;
  background: white;
  padding: 5px;
}
.round:hover {
  box-shadow: rgb(120, 120, 120) -4px 0px 45px;
  transition: 0.3s ease-in;
}

.search {
  border: none;
  border-bottom: 2px solid gray;
  background: none;
  outline: none;
}

.search:focus {
  border-bottom-color: purple;
  transition: 1s;
}
.notification {
  position: relative;
}

.redbtn {
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
  padding: 7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 8px;
}

.notification .redbtn {
  position: absolute;
  top: -10px;
  right: -10px;
}
.notificationMsgn {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 250px;
  background-color: white;
  padding: 5px;
  display: none;
}

.notification:hover .notificationMsgn {
  display: block;
}

.notificationMsgn p {
  padding: 7px;
}
.notificationMsgn p:hover {
  background-color: red;
  border-radius: 2px;
  padding: 7px;
  color: white;
}
/* Main CSS */
/* Section 1 CSS */

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.marginp {
  margin-top: -10px;
}
.statlist {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Section 2 CSS */
.divcards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.card1 {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.bg1 {
  background-color: rgb(11, 176, 11);
}
.bg2 {
  background-color: orange;
}
.bg3 {
  background-color: darkred;
}
.bg4 {
  background-color: rgb(20, 115, 188);
}
/* Section 3 CSS */

.listingscard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  position: relative;
}
.card2 {
  background-color: white;
  padding: 0px 15px;
  border-radius: 5px;
}
.listings {
  position: relative;
}

.images {
  transition: transform 0.3s ease;
}

.images img {
  border-radius: 5px;
  margin-top: -20px;
}

.icons {
  position: absolute;
  bottom: 0;
  right: 50px;
  left: 50px;
}
.listings:hover .images {
  transform: translateY(-30px);
}
.icons {
  visibility: hidden;
}
.listings:hover .icons {
  visibility: visible;
}
/* Footer */
.footer {
  display: flex;
  align-items: center;
}
.navlist ul li {
  list-style-type: none;
  font-weight: bold;
}

/* Responsive for tablets*/
@media (max-width: 1000px) {
  aside {
    display: none;
  }
  body {
    grid-template-columns: 1fr;
  }
  .header1 {
    display: none;
  }
  .header2 {
    display: flex;
    justify-content: space-between;
  }
  .statlist {
    grid-template-columns: 1fr;
  }
  .listingscard {
    grid-template-columns: 1fr;
  }
}

/* Responsive for phone*/
@media (max-width: 750px) {
  aside {
    display: none;
  }
  body {
    grid-template-columns: 1fr;
  }
  .header1 {
    display: none;
  }
  .header2 {
    display: flex;
    justify-content: space-between;
  }
  .statlist {
    grid-template-columns: 1fr;
  }
  .divcards {
    grid-template-columns: 1fr;
  }
  .listingscard {
    grid-template-columns: 1fr;
  }
}
